*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #482EF2;
    background-size: 100vw 100vh;
    color: #F2F2F2;
    font-size: 15px;
    font-family: 'Baloo 2', cursive;
}

.site-title{
    font-family: 'Sriracha', cursive;
    text-shadow: 2px 2px black;
}

.site-subtitle{
    font-family: 'Major Mono Display', monospace;
    text-shadow: 2px 2px black;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.animação-digitando{
    animation: digitar 1.5s steps(40) both, cursor-transparente 500ms infinite normal;
}

@keyframes digitar {
    0%{
        width: 0ch;
    }
    100%{
        width: 15ch;
    }
}

@keyframes cursor-transparente{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}

@media (min-width: 600px) {
    /*body{
        font-size: 23px;
    }*/
    .menu a{
        font-size: 20px;
    }
    .site-title{
        font-size: 50px;
        text-shadow: 4px 4px black;
    }

}

@media (min-width: 1024px) {
    .menu a{
        font-size: 23px;
    }
    .site-title{
        font-size: 80px;
    }
    .site-subtitle{
        font-size: 40px;
    }
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    background-color: #F2F2F2;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    /*list-style: none;*/
    float: right;
}

.logo{
    font-family: 'Sriracha', cursive;
    color: #0004BF;
    text-shadow: 0.5px 0.5px 2px black;
    margin-left: 1em;
    display: block;
    padding-top: 2.5px;
    text-decoration: none;
    transition: color, text-shadow, 0.5s;
}

.logo:hover{
    color: whitesmoke;
    text-shadow: 2px 2px 3px #0004BF;
}

.menu-list {
    color: black;
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    transition: color, text-shadow, 0.5s;
}

.menu-list:hover{
    background-color: #482EF2;
    color: #F2F2F2;
    text-shadow: 1px 1px #482EF2;
}

.site-title, .site-subtitle{
    color: whitesmoke;
    text-align: center;
}

.sobre{
    background-color: #35459E;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.sobre p{
    text-indent: 1em;
    text-align: justify;
}

.avatar{
    margin-left: 3em;
    margin-right: 2em;
    border: solid 2px transparent;
    border-radius: 20px;
    float: left;
    margin-bottom: 20px;
    height: 300px;
}

@media (min-width: 376px) {
    .avatar{
        margin-left: 4em;
    }
}

@media (min-width: 415px) {
    .sobre p{
        font-size: 1.3em;
    }
}

.img-portfolio{
    width: 260px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio{
    background-color: #3747A6;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

.portfolio a, .contato a{
    color: black;
    text-decoration: none;
}

.flip-card {
    background-color: transparent;
    height: 212px;
    border-radius: 10px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: dodgerblue;
    height: 212px;
    border-radius: 10px;
    color: black;
    transform: rotateY(180deg);
}

@media (min-width: 500px) {
    .flip-card-back {
        margin-left: 0em;
        padding-right: 0em;
    }
}

.ul-machupicchu{
    padding-bottom: 4.5em;
}

.ul-controller{
    padding-bottom: 3em;
}

.ul-api{
    padding-bottom: 6em;
}

.card-back-title{
    font-size: 1em;
    color: #F2F2F2;
    padding-bottom: 0.5em;
}

.card-back-title-lg{
    font-size: 1.5em;
    color: #F2F2F2;
    padding-bottom: 0.5em;
    text-shadow: 1px 1px black;
}

.card-back-subtitle{
    font-size: 1.5em;
    color: #F2F2F2;
    text-shadow: 1px 1px black;
}

.card-back-list{
    list-style: none;
}

.flip-card-back hr{
    margin-bottom: 5px;
}

.card-back-a{
    transition: color, font-size, 0.5s;
}

.card-back-a:hover{
    font-size: 1.2em;
    color: #00029f;
}

.portfolio h2, .contato h2, .sobre h2{
    margin-bottom: 1em;
    text-align: center;
    color: #F2F2F2;
    text-shadow: 2px 2px black;
}

.portfolio h3{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    color: #F2F2F2;
    text-shadow: 2px 2px black;
}

.portfolio figure{
    text-align: center;
}

.grid{
    display: grid;!important;
    gap: 2em;
}

.outer{
    width: 180px;
    height: 85px;
    border: 5px solid #121212;
    display: flex;
    margin-left: 25%;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 3px gray;
    cursor: pointer;
    transition: all 0.3s;
}
.inner{
    height: 100%;
    background-color: black;
    flex: 1;
    border-radius: 2px;
    opacity: 0;
    animation: ani1 3s 2s both;
}

.inner-disable{
    height: 100%;
    background-color: transparent;
    flex: 1;
    border-radius: 2px;
    opacity: 0;
    animation: ani1 2.5s both;
}

.outer:hover{
    border: 5px solid #00029f;
    box-shadow: 0px 3px 5px 3px #482EF2;
}
.outer:hover .inner{
    background-color: #00029f;
}
.inner:nth-child(2){
    margin: 0 4px;
    animation: ani2 3s 4s both;
}
.inner:nth-child(3){
    animation: ani3 3s 6s both;
}

@keyframes ani1{
    33%, 100%{
        opacity: 1;
    }
}
@keyframes ani2{
    0%, 33%{
        opacity: 0;
    }
    66%, 100%{
        opacity: 1;
    }
}
@keyframes ani3{
    0%, 66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (min-width: 375px) {
    .grid figcaption{
        color: whitesmoke;
    }
}

@media (min-width: 640px) {
    .grid{
        grid-template-columns: 260px 260px;
        justify-content: center;
    }

    .outer{
        margin-left: 15%;
    }

    .grid figcaption{
        margin-top: -23px;
        padding-top: 18px;
        padding-bottom: 5px;
        background-color: whitesmoke;
        border-radius: 10px;
        color: black;
    }

    .portfolio figure{
        box-shadow: 3px 3px 6px black;
        border-radius: 10px;
    }

    .contato{
        padding-top: 0.5em;
        padding-bottom: 2em;
    }

    .contato h3{
        padding-left: 2em;
        font-size: 1.5em;
    }

    .contato a{
        font-size: 1.5em;
    }
}

@media (min-width: 940px) {
    .grid{
        column-gap: 8em;
        justify-content: center
    }

    .contato h3{
        padding-left: 3em;
        font-size: 2em;
    }
}

@media (min-width: 1240px) {
    .grid{
        column-gap: 2em;
        grid-template-columns: 260px 260px 260px 260px;
        justify-content: center
    }

    .contato h3{
        padding-left: 5em;
    }
}

@media (min-width: 1357px) {
    .avatar{
        margin-top: 0px;
    }
}

@media (min-width: 1387px) {
    .avatar{
        margin-top: -2em;
        margin-bottom: 1px;
        height: 250px;
    }
}

.contato{
    background-color: #482EF2;
    text-align: center;
    padding-bottom: 2em;
    font-size: 2em;
}

.contato a{
    padding: 0.5em;
    transition: color, 0.5s;
}

.contato a:hover{
    color: #F2F2F2;
}

footer{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    font-weight: bold;
}

.footer-icon-linkedin, .footer-icon-github{
    color: black;
}

.footer-icon-linkedin, .footer-icon-github{
    transition: color, 0.5s;
}

.footer-icon-github:hover{
    color: rebeccapurple;
}

.footer-icon-linkedin:hover{
    color: blue;
}





