*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background: url("img/background.jpg");*/
    background-color: #482EF2;
    background-size: 100vw 100vh;
    font-size: 15px;
    font-family: 'Baloo 2', cursive;
    /*height: 100vh;*/
}

.site-title{
    font-family: 'Sriracha', cursive;
    text-shadow: 2px 2px black;
}

.site-subtitle{
    font-family: 'Major Mono Display', monospace;
    text-shadow: 2px 2px black;
}

.portfolio figure:hover{
    text-shadow: 0.3px 0.3px black;
}

@media (min-width: 400px) {
    body{
        font-size: 20px;
    }
}

@media (min-width: 600px) {
    /*body{
        font-size: 23px;
    }*/
    .menu a{
        font-size: 20px;
    }
    .site-title{
        font-size: 50px;
        text-shadow: 4px 4px black;
    }

}

@media (min-width: 1024px) {
    .menu a{
        font-size: 23px;
    }
    .site-title{
        font-size: 80px;
    }
    .site-subtitle{
        font-size: 40px;
    }
}
header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    background-color: #F2F2F2;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
}

.menu a {
    color: teal;
    display: block;
    text-decoration: none;
    padding: 5px 15px;
}

.menu a:hover{
    color: #482EF2;
    text-shadow: 1px 1px #482EF2;
}

.site-title, .site-subtitle{
    color: whitesmoke;
    text-align: center;
}

.img-portfolio{
    width: 260px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio{
    background-color: #3747A6;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

.portfolio a{
    text-decoration: none;
}

.portfolio h2{
    margin-bottom: 1em;
    text-align: center;
    color: #F2F2F2;
    text-shadow: 2px 2px black;
}

.portfolio h3{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    color: #F2F2F2;
    text-shadow: 2px 2px black;
}

.portfolio figure{
    text-align: center;
}

.grid{
    display: grid;
    gap: 2em;
}

@media (min-width: 375px) {
    .grid figcaption{
        color: whitesmoke;
    }
}

@media (min-width: 640px) {
    .grid{
        grid-template-columns: 260px 260px;
        justify-content: center;
    }

    .grid figcaption{
        margin-top: -23px;
        padding-top: 18px;
        padding-bottom: 5px;
        background-color: whitesmoke;
        border-radius: 10px;
        color: black;
    }

    .portfolio figure{
        box-shadow: 3px 3px 6px black;
        border-radius: 10px;
    }

    .portfolio h2{
        text-shadow: 3px 3px black;
    }

    .portfolio h3{
        text-shadow: 3px 3px black;
    }
}

@media (min-width: 940px) {
    .grid{
        column-gap: 8em;
        justify-content: center
    }
}

@media (min-width: 1240px) {
    .grid{
        column-gap: 2em;
        grid-template-columns: 260px 260px 260px 260px;
        justify-content: center
    }
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
}

.footer-icon-linkedin, .footer-icon-github{
    color: black;
}

.footer-icon-github:hover{
    color: rebeccapurple;
}

.footer-icon-linkedin:hover{
    color: blue;
}




